*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.active-scroll-spy {
  border-top: 5px solid #F2C304 !important;
  font-weight: bold;
}